@use 'variables';

* {
  box-sizing: border-box;
  font-size: variables.$font-size-base;
}

body {
  font-family: 'FuturaStdBold', Arial, sans-serif;
  color: variables.$text-color-light;
  background-color: variables.$bg-color;
  margin: 0;
  padding: 0;
  line-height: variables.$line-height-base;
}

//html, body {
//  scroll-behavior: smooth;
//  overflow-x: hidden;
//  overscroll-behavior: none; // optional to reduce bounce
//}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    opacity: 0.8;
  }
}
