@use 'variables';

.dot-nav {
  position: fixed;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 16px;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #999;
        position: relative;

        .dot {
          width: 4px;
          height: 4px;
          background-color: rgba(35, 37, 38, .9);
          border-radius: 50%;
          transform: scale(1.3);
        }

        .label {
          margin-left: 8px;
          font-size: 12px;
          line-height: 16px;
          font-weight: normal;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s ease, visibility 0.3s ease;
        }

        &.active {
          color: rgba(35, 37, 38, .9);

          .dot {
            background-color: rgba(35, 37, 38, .9);
            transform: scale(1.3);
            border-radius: 50%;
          }

          .label {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &:hover a .label {
      visibility: visible;
      opacity: 0.5;
    }

    &:hover a.active .label {
      opacity: 1;
    }
  }
}

.main-header {
  position: relative;
  top: 0;
  width: 100%;
  height: fit-content;
  background-color: variables.$bg-color;
  color: white;
  z-index: 9999;
 // padding: 3px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      .logo {
        color: variables.$text-color-dark;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 26px;
      }

      .logo_subtext {
        color: variables.$primary-color;
        font-size: 11px;
      }
    }


    .right {
      display: flex;
      align-items: center;
      flex-direction: row;

      ul {
        display: flex;
        align-items: center;
        flex-direction: row;

        li {
          margin-right: 30px;
          a {
            color: variables.$text-color-dark;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.sticky-nav {
  position: sticky;
  top: 0;
  width: 100%;
  //height: 50px;
  background-color: variables.$text-color-dark;
  color: white;
  z-index: 9998;
  padding: 15px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      font-size: 13px;
    }

    .right {
      display: flex;
      align-items: center;
      flex-direction: row;

      ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0;

        li {
          margin-right: 30px;
          a {
            color: variables.$text-color-light;
            font-size: 12px;
          }
        }
      }
    }
  }
}