// Colors
$primary-color: #EB8922;
$secondary-color: #D5D1C5;
$text-color-light: #FEF9ED;
$text-color-dark: #402417;
$bg-color: #FEF9ED;
$green: #736C1E;

// Typography
$font-family: 'Arial', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;

// Spacing
$gutter: 20px;
$border-radius: 10px;

// Breakpoints (Responsive)
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;