@use 'variables';
@use 'base';

@font-face {
  font-family: 'FuturaStdBold';
  src: url('../fonts/FuturaStdBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStdR';
  src: url('../fonts/FuturaStdMedium.otf') format('opentype');
  font-weight: 500;
}

.hero {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  .container {
    align-items: flex-start;
    position: relative;
    min-height: 100vh;
  }

  .main_block {
    margin-top: 50px;

    h2 {
      background: variables.$primary-color;
      text-align: center;
      color: #fff;
      font-weight: 700;
      padding: 10px 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin: 0;
    }

    p {
      padding: 15px 50px 40px;
      text-align: center;
      background: variables.$secondary-color;
      margin: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      color: #fff;
      font-weight: 700;
    }
  }

  .tree {
    position: absolute;
    bottom: -125%;
    z-index: -10;
    object-fit: cover;
  }
}

.section-bg {
  background: linear-gradient(0deg, #FEF9ED 0.9%, rgba(254, 249, 237, 0.890711) 12.9%, rgba(254, 249, 237, 0.789167) 16.44%, rgba(205, 249, 237, 0.500978) 27.79%, rgba(254, 249, 237, 0.231221) 36.56%, rgba(254, 249, 237, 0) 41%);
  height: 100vh;
  position: relative;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  .gradient-block {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh; /* or as needed */
    background: linear-gradient(
                    0deg,
                    #FEF9ED 0.9%,
                    rgba(254, 249, 237, 0.890711) 12.9%,
                    rgba(254, 249, 237, 0.789167) 16.44%,
                    rgba(205, 249, 237, 0.500978) 27.79%,
                    rgba(254, 249, 237, 0.231221) 36.56%,
                    rgba(254, 249, 237, 0) 41%
    );
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none; /* just to be safe */
  }

  //&:before {
  //  content: '';
  //  background: url("../images/heroBg.jpg") no-repeat center top/cover;
  //  width: 100%;
  //  height: 100%;
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  z-index: -1;
  //}


  #scroll-image {
    width: 80%;
    transform: translateY(0);
    transition: transform 0.3s ease;
    position: absolute;
    //min-height: 100vh;
    bottom: 0;
  }

  .container {
    align-items: flex-end;
    justify-content: center;
    //height: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
    z-index: 10;
  }
}

.section-2 {
  z-index: 10;

  h3 {
    text-align: center;
    font-size: 33px;
    line-height: 28px;
    margin: 0;
    padding: 10px 0 5px;
    color: variables.$primary-color;
  }

  h2 {
    color: #000;
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
  }

  .main_block {
    z-index: 10;
    background: variables.$secondary-color;
    border-radius: 20px;

    .top {
      background: variables.$secondary-color;
      text-align: center;
      font-weight: bold;
      padding: 20px 0 5px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin: 0;
      font-size: 35px;
      line-height: 44px;
    }

    .line {
      width: 90%;
      height: 1px;
      background-color: #fff;
      margin: 20px auto
    }

    p {
      padding: 15px 50px 40px;
      text-align: center;
      background: variables.$secondary-color;
      margin: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
    }
  }
}

.section-row {
  display: flex;
  align-items: center;
  justify-content: center;

  .main_block {
    min-height: 555px;

    .top {
      background: variables.$primary-color;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .title {
        text-align: center;
        font-weight: bold;
        padding: 8px 0 2px;
        margin: 0;
        font-size: 30px;
        line-height: 40px;
      }

      .subtitle {
        text-align: center;
        font-weight: bold;
        padding: 0px 0 30px;
        margin: 0;
        font-size: 20px;
        line-height: 28px;
      }

      .custom-title {
        font-weight: 700;
        font-size: 1.6rem; /* adjust as needed */
        color: #e8381f; /* red text */
        text-shadow:
                -2px -2px 0 #fff,
                2px -2px 0 #fff,
                -2px  2px 0 #fff,
                2px  2px 0 #fff,
                -2px  0px 0 #fff,
                2px  0px 0 #fff,
                0px -2px 0 #fff,
                0px  2px 0 #fff;
      }

      .content_block {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
      }

      img {
        min-width: 180px;
        object-fit: contain;
      }
    }

    p {
      padding: 15px 30px 40px;
      background: variables.$secondary-color;
      margin: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      font-weight: 700;
      font-size: 19px;
      line-height: 24px;
      text-align: left;
    }
  }

  .main_block:nth-child(1) {
    width: 40%;
    margin-right: 30px;
  }

  .main_block:nth-child(2) {
    width: 60%;
  }
}

.seasons-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  width: 100%;

  .main_block {
    flex: 1;

    .top {
      background: variables.$primary-color;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 15px 0;

      img {
        height: 370px;
      }
    }

    .bottom {
      padding: 15px 30px 40px;
      background: variables.$text-color-dark;
      margin: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      text-align: left;
      min-height: 300px;
    }
  }
}

.benefits {
  margin-bottom: 200px;
  width: 100%;

  .container {
    flex-direction: column;
  }

  .section-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    &--item {
      display: flex;
      align-items: center;
      width: 100%;
      max-height: 68px;

      .left {
        flex: 1;
        max-width: 150px;
        background-color: variables.$primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 32px;
        border-bottom-left-radius: 32px;
        height: 68px;

        img {
          width: 55px;
          height: 55px;
        }
      }

      .right {
        flex: 2;
        background-color: variables.$secondary-color;
        border-top-right-radius: 32px;
        border-bottom-right-radius: 32px;
        height: 68px;
        color: variables.$text-color-dark;
        font-size: 26px;
        line-height: 27px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }

  &-title {
    width: 100%;
    color: variables.$text-color-dark;
    text-align: center;
    margin: 140px 0 5px;
    font-size: 40px;
    line-height: 48px;
  }

  &-desc {
    width: 100%;
    color: variables.$text-color-dark;
    text-align: center;
    margin: 0 0 35px;
    font-size: 30px;
    line-height: 38px;
  }
}

.video-block {
  video {
    width: 100%;
  }
}

.section-5 {
  .main_block {
    .top {
      text-transform: uppercase;
      padding-top: 30px;
    }

    p {
      padding-bottom: 70px;
    }
  }
}

.section-7 {
  .main_block {
    z-index: 10;
    background: variables.$secondary-color;
    border-radius: 20px;

    .top {
      background: variables.$secondary-color;
      text-align: center;
      font-weight: bold;
      padding: 40px 0 10px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin: 0;
      font-size: 45px;
      line-height: 48px;
    }

    .line {
      width: 90%;
      height: 2px;
      background-color: #fff;
      margin: 20px auto
    }

    p {
      padding: 15px 50px 40px;
      text-align: center;
      background: variables.$secondary-color;
      margin: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      font-weight: 700;
      font-size: 22px;
      line-height: 25px;
    }

    .row {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      margin-bottom: 70px;

      .left {
        font-weight: bold;
        color: #f58220;
        font-size: 35px;
        text-shadow: -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px  2px 0 #fff,
        2px  2px 0 #fff,
        -2px  0px 0 #fff,
        2px  0px 0 #fff,
        0px -2px 0 #fff,
        0px  2px 0 #fff;
        min-width: 160px;
        text-align: right;
      }

      .right {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .top {
          font-size: 28px;
          line-height: 20px;
          padding-left: 30px;
          padding-top: 0;
        }

        .bottom {
          font-size: 22px;
          line-height: 25px
        }
      }
    }
  }
}

.section-bg-bees {
  &:before {
    content: '';
    background: url("../images/1.png") no-repeat center top/cover;

  }
}

.section-8 {
  .section-2 {
    position: relative;
  }

  .bee {
    position: absolute;
    left: -12px;
    top: -18px;
    object-fit: contain;
    min-width: 140px;
  }

  .row {
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 250px;

    .block {
      flex: 50%;
      min-height: 300px;
      border-radius: 15px;
    }

    .block:nth-child(1) {
      background-color: variables.$primary-color;
      margin-right: 50px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      font-size: 40px;
      line-height: 46px;
      padding: 20px;
      text-align: center;
    }

    .block:nth-child(2) {
      background-color: variables.$text-color-dark
    }
  }

  .text {
    color: variables.$text-color-dark;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 100px;
    font-weight: bold;
  }
}

.picture-section {
  width: 100%;
  min-height: 100vh;

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
  }
}